CONFIG_DRM_PANEL_YOURITECH_ILI9806E=y

CONFIG_DRM_FBDEV_EMULATION=y

CONFIG_DP83867_PHY=y

CONFIG_MFD_STM32_TIMERS=y
CONFIG_PWM_STM32=y

CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
# CONFIG_FRAMEBUFFER_CONSOLE_ROTATION is not set
# CONFIG_FRAMEBUFFER_CONSOLE_DEFERRED_TAKEOVER is not set
